<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @pharmacy.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @pharmacy.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @pharmacy.description %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @pharmacy.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @pharmacy.longitude %>
  </p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@pharmacy.latitude}%2C#{@pharmacy.longitude}" %>
  <br>  

  <%= link_to 'Edit', edit_pharmacy_path(@pharmacy), class: "btn btn-info" %> |
  <%= link_to 'Back', pharmacies_path, class: "btn btn-info" %>
</div>
